@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "GameCube";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/GameCube.ttf") format("truetype");
}

@theme {
  /* Chaos Theme Colors */
  --color-chaos-50: #e8ffe5;
  --color-chaos-100: #d1ffcc;
  --color-chaos-200: #a3ff99;
  --color-chaos-300: #75ff66;
  --color-chaos-400: #47ff33;
  --color-chaos-500: #1aff00;
  --color-chaos-600: #14C600; /* Default Chaos Green */
  --color-chaos-700: #0f9900;
  --color-chaos-800: #008800; /* Summit Green*/
  --color-chaos-900: #053300;
  --color-chaos-950: #042400;

  --color-mild-chaos-50: #f5faeb;
  --color-mild-chaos-100: #ebf4d7;
  --color-mild-chaos-200: #d8eaae;
  --color-mild-chaos-300: #c4df86;
  --color-mild-chaos-400: #b1d45e;
  --color-mild-chaos-500: #9dc936;
  --color-mild-chaos-600: #7ea12b; /* Default Mild Chaos */
  --color-mild-chaos-700: #5e7920;
  --color-mild-chaos-800: #3f5115;
  --color-mild-chaos-900: #1f280b;
  --color-mild-chaos-950: #161c07;

  --color-summit-grey-50: #f2f2f3;
  --color-summit-grey-100: #e5e5e6;
  --color-summit-grey-200: #caccce;
  --color-summit-grey-300: #A7A9AC; /* Default Summit Grey */
  --color-summit-grey-400: #96989c;
  --color-summit-grey-500: #7c7f83;
  --color-summit-grey-600: #636569;
  --color-summit-grey-700: #4a4c4f;
  --color-summit-grey-800: #313335;
  --color-summit-grey-900: #19191a;
  --color-summit-grey-950: #111212;

  --color-cream-50: oklch(97.13% 0.014 84.58);
  --color-cream-100: oklch(94.38% 0.029 89.57);
  --color-cream-200: oklch(88.78% 0.058 89.65);
  --color-cream-300: oklch(83.03% 0.085 88.48);
  --color-cream-400: oklch(77.56% 0.109 88.07);
  --color-cream-500: oklch(72.20% 0.127 86.56);
  --color-cream-600: oklch(61.27% 0.107 86.54);
  --color-cream-700: oklch(49.83% 0.085 86.48);
  --color-cream-800: oklch(37.93% 0.062 88.02);
  --color-cream-900: oklch(24.73% 0.036 88.74);
  --color-cream-950: oklch(20.34% 0.027 87.01);

  --color-blue: #2466A8;
  --color-blue-dark: #123354;
  --color-red: #AC2035;
  --color-red-dark: #56101A;
  --color-chaos: var(--color-chaos-600);
  --color-summit-grey: var(--color-summit-grey-300);


  --color-background: var(--color-summit-grey-300);
  --color-foreground: var(--color-summit-grey-900);



  /* Typography */
  --font-display: "Roboto", sans-serif;
  --font-chaos: "GameCube", "Roboto", sans-serif;
}


body {
  font-family: var(--font-display);
  font-weight: lighter;
}



