@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-chaos: oklch(0.7174 0.242 142.13);

  --color-chaos-50: oklch(0.9835 0.0226 135.62);
  --color-chaos-100: oklch(0.9644 0.0507 137.75);
  --color-chaos-200: oklch(0.9307 0.0947 138.17);
  --color-chaos-300: oklch(0.8823 0.1508 139.53);
  --color-chaos-400: oklch(0.8215 0.190652 140.3162);
  --color-chaos-500: oklch(0.7423 0.1961 140.67);
  --color-chaos-600: oklch(0.4 0.242 142.13);
  --color-chaos-700: oklch(0.3 0.242 142.13);
  --color-chaos-800: oklch(0.2 0.242 142.13);
  --color-chaos-900: oklch(0.1 0.242 142.13);
  --color-chaos-950: oklch(0.05 0.242 142.13);


  /* Typography */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--color-foreground);

  &:hover {
    color: var(--color-chaos);
  }
}


