@import 'tailwindcss';

.alliance-info {
  .blue-alliance {
    background-image: linear-gradient(to top, var(--color-blue), var(--color-blue-dark));
  }

  .red-alliance {
    background-image: linear-gradient(to top, var(--color-red), var(--color-red-dark));
  }
}
