@import 'tailwindcss';

.alliance-info {
  .blue-alliance-wrap {
    background: var(--color-blue-dark);
    padding: 2px;
    color: var(--color-blue-light);

    .alliance {
      background-image: linear-gradient(to top left, var(--color-black), var(--color-blue-dark));

      .teams {
        border-bottom: 2px solid var(--color-blue);
      }

      .info {
        border: 1px solid var(--color-blue);
      }
    }
  }

  .red-alliance-wrap {
    background: var(--color-red-dark);
    padding: 2px;
    color: var(--color-red-light);

    .alliance {
      background-image: linear-gradient(to top left, var(--color-black) 30%, var(--color-red-dark));

      .teams {
        border-bottom: 2px solid var(--color-red);
      }

      .info {
        border: 1px solid var(--color-red);
      }
    }
  }
}
